<div class="bio_wrapper cf">
  <h1>Ilona Kennedy</h1>

    <%= image_tag "https://s3.amazonaws.com/ilonakennedy/bio.jpg", :class=>"bio_image"%>

  <div class="biography">
    <% @bios.each do |b| %>
      <%= raw(b.body) %>
    <% end %>
  </div>
   <div class="subscribe_button resume_button">
    Resum&eacute;
  </div>
  </div>
  <div class="resume_wrapper">
    <% @bios.each do |b| %>
      <%= raw(b.resume) %>
    <% end %>
  </div>
