<div class="bio_wrapper cf">
  <h1>Ilona Kennedy</h1>

    <%= image_tag "https://s3.amazonaws.com/ilonakennedy/bio.jpg", :class=>"bio_image"%>

  <p class="biography">
    <%= @bio.text %>
  </p>
   <div class="subscribe_button resume_button">
    Resum&eacute;
  </div>
  </div>
  <div class="resume_wrapper">
    <h3>RECENT  EXHIBITIONS</h3>
    <p>2012-2013</p>
    <p class="exhibitions">
       -James Gallery, New Bedford, NY<br>
       -Mast Cove Gallery, Kennebunkport, ME
    </p>
    <p>2011</p>
    <p class="exhibitions">
      -Out of Africa, Blue Door Gallery, Yonkers, NY (Juried)<br>
      -Rose Squared Art Fairs-Upper Montclair, NJ and Westfield, NJ<br>
    </p>
    <p>2010</p>
    <p class="exhibitions">
        -Metro Show, City Without Walls, Newark, NJ (Juried)<br>
        -1978 Maplewood ArtsCenter, BANG 5, Maplewood, NJ<br>
        -Visual Arts Center of NJ, Members’ Show, Summit, NJ (Juried)<br>
     </p>
     <p>2006</p>
     <p class="exhibitions">
        -Metro Show, City Without Walls, Newark, NJ (Juried)<br>
        -Faces of Winter-2006, Connecticut Society of Portrait Artists, Bendheim Gallery,
             Greenwich, CT, 2006 (Juried)<br>
      </p>
      <p>2005</p>
      <p class="exhibitions">
        -Figures and Faces – Old and New, Block Gallery, Montclair, NJ (Solo) <br>
      <p>2004</p>
      <p class="exhibitions">
        -Ilona Kennedy – Friends & Accessories, JCC-West Orange Gallery, West
             Orange, NJ (Solo)<br>
        -Ilona Kennedy - Scenes from the South of France, Savory Restaurant/Gallery,
             S. Orange, NJ (Solo)<br>
         -Let’s Face It - What is a Portrait? Studio Montclair Members Exhibition, Gaelen
             Gallery, Whippany, NJ (Juried, 2nd place award)<br>
         -Gaelen Fifth Annual Juried Exhibition, Whippany, NJ (Juried, Best in Oil/Acrylic)<br>
        2002 -Millburn/Short Hills Art Fair, Millburn, NJ (Juried)<br>
      </p>
      <p>2000</p>
      <p class="exhibitions">
        -“Punny Girl – A Cowtoon”, Cow Parade 2000, West Orange, NJ (Juried)<br>
      </p>

      <h3>COLLECTIONS</h3>
      <p>Alberta Foundation for the Arts, Edmonton, Canada<br>
        Canada Art Bank, Ottawa, Canada<br>
        Edmonton Art Gallery, Edmonton, Alberta<br>
        Newark Beth Israel Hospital, Newark, NJ<br>
        Rutgers University, Newark, NJ<br>
        SNAP Archives, Edmonton, Alberta<br>
        Taipei Fine Arts Museum, Taipei, Taiwan<br>
        University of Alberta, Art and Design, Edmonton, Alberta,<br>
        Various private collections in Canada, England, Estonia,  France, Sweden , Turkey & USA<br>
      </p>

      <h3>EDUCATION</h3>
      <p>B.A. Psychology, McGill University, Montreal, Canada, 1971<br>
        Master of Library Science, University of Toronto, Toronto, Canada, 1974<br>
        B.F.A. University of Alberta, Edmonton, Canada, 1991<br>
      </p>


        <h3>SELECTED GRANTS/ AWARDS</h3>
        <p>Silver Award, 5th International Biennial Print Exhibit: 1991 ROC, Taipei, 1992<br>
        2nd place, “Let’s Face It: What is a Portrait?” Studio Montclair Exhibition, 2004<br>
        Best in Oil/Acrylic, Gaelen Fifth Annual Juried Exhibition, 2004<br>
      </p>

</p>
  </div>
