<table class="recent-works">
<% @works.each do |work| %>
  <% if work.is_recent %>
    <tr class="work_row">
      <td class="work_image_wrapper">
        <%= image_tag work.works_image.url, :class=>"work_image" %>
      </td>
      <td class="info_bar">
        <%= link_to work.name, work %>
        <%= image_tag "up-arrow-icon.png", :class=>"up_arrow" %>
        <%= image_tag "down-arrow-icon.png", :class=>"down_arrow" %>
      </td>
    </tr>
  <% end %>
<% end %>

</table>

