<div class="bio_wrapper">
  <h1>Ilona Kennedy</h1>

  <p class="contact">
    <%= image_tag "https://s3-eu-west-1.amazonaws.com/ilonakennedy/bio.jpg", :class=>"bio_image"%>
    <%= link_to "Email me", "mailto:ilonakennedy@gmail.com" %>
  </p>

  <p class="biography">
    Originally the co-founder and owner of an information management consulting firm for 15 years, I reevaluated my life's ambitions and switched to creating fine arts in my mid-thirties. Returning to college, I majored in printmaking at the University of Alberta in Edmonton, Alberta Canada, which has a world-renowned program in that field. Etching became my medium of choice and I participated in several regional and international shows. In 1993, my husband and I took our two very young daughters on a year long sabbatical to France for a year, where I began drawing and painting "portraits" of the local villagers, as ell as, favorite bits of scenery. In 1998, we relocated to West Orange, New Jersey. Since then, I have continued to paint and draw, while launching our two daughters onto their own paths of intellectual and creative discovery.
   <br><br>
    While at university, I discovered patterns of interest and formal concerns, which often repeated in my work, both in my etchings, and now, in my paintings. I like close-ups, the juxtaposition of curvilinear forms with more geometric lines, and the interplay of figure and activity (or stillness). When I think of artists whose work I am most attracted to (Caravaggio, Zurbuan, Rembrandt, Vermeer, Chardin, Sergeant and Hopper) I realize that many of their paintings share the same use of dramatic contrast of light and shade, as well as similar subject matter: scenes from daily life. Often I like to incorporate a sense of humor and/or playfulness in my pieces.
   <br><br>
    Although a painter of realism, I have always loved abstract art and my house is full of it. Recent trips to Turkey, Europe and South America, have given me enough photographic material, and bravery, to venture forth and try to create some abstracts of my own. I have also been exploring encaustic paint as a medium to tie together the collages i have been making.  Modern masters whose work has interested me include Tapies, Diebencorn, Rothko,  and Frankenthaler. Some contemporary artists who have inspired me the most in various ways include Lisa Pressman, Andrew Stevovich, and  my mother, Helga Roht Poznanski.
    <br><br>
    <span class="signature">Ilona Kennedy, August 2011</span>
  </p>
  </div>