<div class="bio_wrapper cf">
  <h1>Ilona Kennedy</h1>

    <%= image_tag "https://s3.amazonaws.com/ilonakennedy/bio.jpg", :class=>"bio_image"%>

  <p class="biography">
    Originally the co-founder and owner of an information management consulting firm for 15 years, I reevaluated my life's ambitions and switched to creating fine arts in my mid-thirties. Returning to college, I majored in printmaking at the University of Alberta in Edmonton, Alberta Canada, which has a world-renowned program in that field. Etching became my medium of choice and I participated in several regional and international shows. In 1993, my husband and I took our two very young daughters on a year long sabbatical to France for a year, where I began drawing and painting "portraits" of the local villagers, as ell as, favorite bits of scenery. In 1998, we relocated to West Orange, New Jersey. Since then, I have continued to paint and draw, while launching our two daughters onto their own paths of intellectual and creative discovery.
   <br><br>
    While at university, I discovered patterns of interest and formal concerns, which often repeated in my work, both in my etchings, and now, in my paintings. I like close-ups, the juxtaposition of curvilinear forms with more geometric lines, and the interplay of figure and activity (or stillness). When I think of artists whose work I am most attracted to (Caravaggio, Zurbuan, Rembrandt, Vermeer, Chardin, Sergeant and Hopper) I realize that many of their paintings share the same use of dramatic contrast of light and shade, as well as similar subject matter: scenes from daily life. Often I like to incorporate a sense of humor and/or playfulness in my pieces.
   <br><br>
    Although a painter of realism, I have always loved abstract art and my house is full of it. Recent trips to Turkey, Europe and South America, have given me enough photographic material, and bravery, to venture forth and try to create some abstracts of my own. I have also been exploring encaustic paint as a medium to tie together the collages i have been making.  Modern masters whose work has interested me include Tapies, Diebencorn, Rothko,  and Frankenthaler. Some contemporary artists who have inspired me the most in various ways include Lisa Pressman, Andrew Stevovich, and  my mother, Helga Roht Poznanski.
    <br><br>
    <span class="signature">Ilona Kennedy, August 2011</span>
  </p>
   <div class="subscribe_button resume_button">
    Resum&eacute;
  </div>
  </div>
  <div class="resume_wrapper">
    <h3>RECENT  EXHIBITIONS</h3>
    <p>2012-2013</p>
    <p class="exhibitions">
       -James Gallery, New Bedford, NY<br>
       -Mast Cove Gallery, Kennebunkport, ME
    </p>
    <p>2011</p>
    <p class="exhibitions">
      -Out of Africa, Blue Door Gallery, Yonkers, NY (Juried)<br>
      -Rose Squared Art Fairs-Upper Montclair, NJ and Westfield, NJ<br>
    </p>
    <p>2010</p>
    <p class="exhibitions">
        -Metro Show, City Without Walls, Newark, NJ (Juried)<br>
        -1978 Maplewood ArtsCenter, BANG 5, Maplewood, NJ<br>
        -Visual Arts Center of NJ, Members’ Show, Summit, NJ (Juried)<br>
     </p>
     <p>2006</p>
     <p class="exhibitions">
        -Metro Show, City Without Walls, Newark, NJ (Juried)<br>
        -Faces of Winter-2006, Connecticut Society of Portrait Artists, Bendheim Gallery,
             Greenwich, CT, 2006 (Juried)<br>
      </p>
      <p>2005</p>
      <p class="exhibitions">
        -Figures and Faces – Old and New, Block Gallery, Montclair, NJ (Solo) <br>
      <p>2004</p>
      <p class="exhibitions">
        -Ilona Kennedy – Friends & Accessories, JCC-West Orange Gallery, West
             Orange, NJ (Solo)<br>
        -Ilona Kennedy - Scenes from the South of France, Savory Restaurant/Gallery,
             S. Orange, NJ (Solo)<br>
         -Let’s Face It - What is a Portrait? Studio Montclair Members Exhibition, Gaelen
             Gallery, Whippany, NJ (Juried, 2nd place award)<br>
         -Gaelen Fifth Annual Juried Exhibition, Whippany, NJ (Juried, Best in Oil/Acrylic)<br>
        2002 -Millburn/Short Hills Art Fair, Millburn, NJ (Juried)<br>
      </p>
      <p>2000</p>
      <p class="exhibitions">
        -“Punny Girl – A Cowtoon”, Cow Parade 2000, West Orange, NJ (Juried)<br>
      </p>

      <h3>COLLECTIONS</h3>
      <p>Alberta Foundation for the Arts, Edmonton, Canada<br>
        Canada Art Bank, Ottawa, Canada<br>
        Edmonton Art Gallery, Edmonton, Alberta<br>
        Newark Beth Israel Hospital, Newark, NJ<br>
        Rutgers University, Newark, NJ<br>
        SNAP Archives, Edmonton, Alberta<br>
        Taipei Fine Arts Museum, Taipei, Taiwan<br>
        University of Alberta, Art and Design, Edmonton, Alberta,<br>
        Various private collections in Canada, England, Estonia,  France, Sweden , Turkey & USA<br>
      </p>

      <h3>EDUCATION</h3>
      <p>B.A. Psychology, McGill University, Montreal, Canada, 1971<br>
        Master of Library Science, University of Toronto, Toronto, Canada, 1974<br>
        B.F.A. University of Alberta, Edmonton, Canada, 1991<br>
      </p>


        <h3>SELECTED GRANTS/ AWARDS</h3>
        <p>Silver Award, 5th International Biennial Print Exhibit: 1991 ROC, Taipei, 1992<br>
        2nd place, “Let’s Face It: What is a Portrait?” Studio Montclair Exhibition, 2004<br>
        Best in Oil/Acrylic, Gaelen Fifth Annual Juried Exhibition, 2004<br>
      </p>

</p>
  </div>
