// Place all the styles related to the Works controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// *, *:before, *:after {
//   -moz-box-sizing: border-box;
//   -webkit-box-sizing: border-box;
//   box-sizing: border-box;
//  }

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

body, html {
  font-family: 'Poiret One', cursive;
  margin: 0;
  margin-top: 30px;
}

a {
  text-decoration: none;
  color: #4F5154;
}

nav {
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: #ffffff;
  width: 100%;
  min-width: 700px;
}

.title {
  float: right;
  margin: 20px;
}

nav ul {
  display: inline-block;
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
  border-right: 1px solid #4F5154;
  padding-right: 20px;
}

.recent-works, .past-works {
  width: 100%;
}

.work_row td {
  display: block;
  padding: 0;
}

.work_image_wrapper {
  height: 640px;
  overflow: hidden;
}

.work_image {
  width: 100%;
  margin: auto;
}

.work_row {
  text-align: center;
  display: block;
  position: relative;
}

.info_bar {
  position: absolute;
  top: 310px;
  width: 100%;
  display: table !important;
}

.info_bar a:hover,
.info_bar a:focus {
  background-color: rgba(255,255,255,0.4);
  color: #FFFFFF;
 }

.info_bar a {
  height: 330px;
  color: #F7F5F2;
  background-color: rgba(255,255,255,0.2);
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  font-size: 2em;
   -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    position: relative;
}

.down_arrow, .up_arrow {
  width: 40px;
  position: absolute;
  bottom: 40px;
  right: 20px;
  cursor: pointer;
}

.up_arrow {
  top: 40px;
  bottom: auto;
}

// PAST WORKS PAGE

.right_arrow, .left_arrow {
  width: 40px;
  text-align: center;
}

.collection {
  margin: 20px;
  background-color: #999999;
  overflow: hidden;
  min-width: 1116px;
  position: relative;
}

.collection:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}

.collection_name, .collection_arrows {
  display: inline-block;
  vertical-align: middle;
  float: left;
  padding: 20px 20px 0 0;
}

.collection_name {
  width: 100%;
  background: rgba(255,255,255,0.6);
  height: 50px;
  position: absolute;
  bottom: 0;
  z-index: 1;
  text-align: center;
  left: 0;
}

.collection_arrows {
  max-width: 40px;
  padding: 0;
  padding-top: 30px;
  position: absolute;
  z-index: 1;
}

.collection_arrows.right {
    // margin-left: 20px;
    right: 10px;
}

.collection_arrows.left {
  // margin-right: 10px;
  left: 10px;
  opacity: 0;
  visibility: hidden;
}

.scrollable {
  width: 1170px;
  min-width: 800px;
  height: 200px;
  display: inline-block;
  overflow-x: scroll;
  overflow-y: hidden;
  float: left;
  position: relative;
}


.image_wrapper {
  // width: 20000em;
  // display: block;
  // float: left;
  // bottom: 0;
  // position: absolute;
  display: block;
  float: left;
  bottom: 0;
  position: absolute;
  max-height: 200px;
}

// .past_work_image_hover {
//   opacity: 0;
//   background: rgba(100,100,100,0.4);
//   display: inline;
// }

// .past_work_image_hover:hover {
//   opacity: 1;
// }

.past_work_image {
  // width: 150px;
  // margin: 10px;
  // display: inline-block;
  width: 300px;
  float: left;
}

.image_wrapper a {
  float: left;
}

.works_wrapper {
  min-width: 900px;
}

.works_description {
  float: right;
  margin: 40px;
  text-align: right;
  margin-right: 100px;
}

.works_show {
  float: left;
  margin: 40px;
}

.works_show img {
  width: 480px;
}

.back_button, .purchase_button{
  margin: 60px;
  font-size: 24px;
  border-radius: 3px;
  padding: 5px 10px;
  background: #cccccc;
  position: absolute;
  bottom: 0;
  right: 40px;
  transition: background 0.3s linear;
  -webkit-transition: background 0.3s linear;
  -moz-transition: background 0.3s linear;
  -o-transition: background 0.3s linear;
}

.back_button:hover,
.back_button:focus,
.purchase_button:hover,
.purchase_button:focus {
  background: #aaaaaa;
}

.purchase_button {
  right: 120px;
}

// COLLECTIONS

.collection_wrapper {
  max-width: 940px;
  margin: auto;
}

.collection_work_wrappers {
  display: inline-block;
}

.collection_works_image,
.collection_works_name {
  width: 280px;
  margin: 10px;
}

.collection_works_image {
    margin-top: 40px;
}

// BIO

.bio_wrapper {
  max-width: 940px;
  margin: auto;
}

.bio_image {
  width: 200px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.biography {
  float: right;
  width: 600px;
  margin: 0;
  margin-bottom: 20px;
}

.signature {
  float: right;
}

.contact {
  display: inline-block;
  width: 100px;
}



