// Place all the styles related to the Works controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// *, *:before, *:after {
//   -moz-box-sizing: border-box;
//   -webkit-box-sizing: border-box;
//   box-sizing: border-box;
//  }

* {
  box-sizing: border-box;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

body {
  font-size: 20px;
}

#new_user {
  width: 200px;
  margin: 180px auto;
}

#user_email,
#user_password {
  margin: 10px auto;
  width: 190px;
  display: block;
  line-height: 26px;
  font-family: 'Poiret One', cursive;
  font-size: 16px;
  padding-left: 5px;
}

.sign_in {
  float: right;
  font-family: 'Poiret One', cursive;
  font-size: 14px;
}

#user_remember_me {
  display: inline;
}

.remember_me {
  margin: 10px 0;
}

body, html {
  font-family: 'Poiret One', cursive;
  margin: 0;
  margin-top: 30px;
}

a {
  text-decoration: none;
  color:  #000;
  transition: color 0.5s linear;
  -webkit-transition: color 0.5s linear;
  -moz-transition: color 0.5s linear;
  -o-transition: color 0.5s linear;
    transition: border-bottom 0.3s ease-in-out;
  -webkit-transition: border-bottom 0.3s ease-in-out;
  -moz-transition: border-bottom 0.3s ease-in-out;
  -o-transition: border-bottom 0.3s ease-in-out;
  font-weight: 900;
}

nav a:hover,
nav a:focus {
  color: #777777;
  border-bottom: 2px solid #777777;
  padding-bottom: 10px;
}

nav {
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: #ffffff;
  width: 100%;
  min-width: 700px;
}

.current {
  border-bottom: 2px solid #8F8F8F;
  padding-bottom: 10px;
}

.title {
  float: right;
  margin: 20px 40px 0 0;
  font-size: 30px;
  color: #000;
}

.title:hover,
.title:focus {
  border: none;
  color:   #AC126E;
}

.title.down {
  text-align: right;
  width: 20px;
  display: none;
  margin-left: 10px;
}

nav ul {
  display: inline-block;
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
  border-right: 1px solid #000;
  padding-right: 20px;
}

.recent-works, .past-works {
  width: 100%;
}

.work_row td {
  display: block;
  padding: 0;
}

.work_image_wrapper {
  height: auto;
  overflow: hidden;
}

.work_image {
  width: 100%;
  margin: auto;
}

.work_row {
  text-align: center;
  display: block;
  position: relative;
}

.info_bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: table !important;
}

.info_bar a:hover,
.info_bar a:focus {
  background-color: rgba(255,255,255,0.4);
  color: #000;
 }

.info_bar a {
  height: 330px;
  color: #F7F5F2;
  // background-color: rgba(255,255,255,0.2);
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  font-size: 2em;
   -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    position: relative;
}

.down_arrow, .up_arrow {
  width: 40px;
  position: absolute;
  bottom: 40px;
  right: 20px;
  cursor: pointer;
}

.up_arrow {
  top: 40px;
  bottom: auto;
}

// PAST WORKS PAGE

.right_arrow, .left_arrow {
  width: 40px;
  text-align: center;
}

.collection {
  margin: 20px auto;
  background-color: #EFEFEF;
  overflow: hidden;
  min-width: 1116px;
  position: relative;
  max-width: 1200px;
}

.collection:before {
  content: '';
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}

.collection_name, .collection_arrows {
  display: inline-block;
  vertical-align: middle;
  float: left;
  padding: 20px 20px 0 0;
}

.collection_name {
  width: 100%;
  background: rgba(255,255,255,0.4);
  height: 50px;
  position: absolute;
  bottom: 0;
  z-index: 1;
  text-align: center;
  left: 0;
  display: table;
  transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
}

.collection_name:hover,
.collection_name:focus {
    background-color: rgba(255,255,255,0.6);
}

.collection_name a {
  color: #FFF;
  width: 100%;
  display: table-cell;
}

.collection_name a:hover,
.collection_name a:focus {
  color: #000;
}

.collection_arrows {
  max-width: 40px;
  padding: 0;
  padding-top: 30px;
  position: absolute;
  z-index: 1;
}

.collection_arrows.right {
    // margin-left: 20px;
    right: 10px;
}

.collection_arrows.left {
  // margin-right: 10px;
  left: 10px;
  opacity: 0;
  visibility: hidden;
}

.scrollable {
  width: 700px;
  height: 200px;
  display: inline-block;
  overflow-x: scroll;
  overflow-y: hidden;
  float: left;
  position: relative;
}


.image_wrapper {
  // width: 20000em;
  // display: block;
  // float: left;
  // bottom: 0;
  // position: absolute;
  display: block;
  float: left;
  bottom: 0;
  position: absolute;
  max-height: 200px;
}

// .past_work_image_hover {
//   opacity: 0;
//   background: rgba(100,100,100,0.4);
//   display: inline;
// }

// .past_work_image_hover:hover {
//   opacity: 1;
// }

.past_work_image {
  // width: 150px;
  // margin: 10px;
  // display: inline-block;
  width: 300px;
  float: left;
  margin-right: 2px;
}

.image_wrapper a {
  float: left;
}

.works_wrapper {
  min-width: 900px;
}

.works_description {
  float: right;
  margin: 40px;
  text-align: right;
  max-width: 25%;
}

.works_description p {
  line-height: 30px;
}

.description {
  font-size: 18px;
}

.works_show {
  float: left;
  margin: 40px;
  width: 55%;
  display: table;
}

.works_title {
  font-size: 24px;
  margin-top: 0;
}

.works_show img {
  width: 90%;
  display: table-cell;
  margin: auto;
}

.works_collection_name {
  color: #AC126E;
  transition: color 0.3s linear;
  -webkit-transition: color 0.3s linear;
  -moz-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
}

.works_collection_name:hover,
.works_collection_name:focus {
  color: #7F0D52;
  border-bottom: 1px solid #7F0D52;
  padding-bottom: 5px;
}

.purchase_button{
  font-size: 24px;
  border-radius: 3px;
  padding: 5px 10px;
  background: #cccccc;
  transition: background 0.3s linear;
  -webkit-transition: background 0.3s linear;
  -moz-transition: background 0.3s linear;
  -o-transition: background 0.3s linear;
  float: right;
  margin-top: 10px;
}

.back_button:hover,
.back_button:focus,
.purchase_button:hover,
.purchase_button:focus {
  background: #aaaaaa;
}

.prev_button, .next_button {
  font-size: 100px;
  color: #CCC;
  display: table-cell;
  vertical-align: middle;
}

.next_button {
  right: 0;
}

// COLLECTIONS

.collection_wrapper {
  padding: 20px;
  max-width: 940px;
  margin: auto;
}

.collection_work_wrappers {
  display: inline-block;
}

.collection_works_image,
.collection_works_name {
  width: 280px;
  margin: 10px;
}

.collection_works_name a:hover,
.collection_works_name a:focus {
    color: #AC126E;
}

.collection_works_image {
    margin-top: 40px;
}

// BIO

.bio_wrapper {
  max-width: 940px;
  margin: auto;
  padding: 0 40px 60px;
}

.bio_image {
  width: 200px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.biography {
  float: right;
  width: 600px;
  margin: 0;
  margin-bottom: 20px;
}

.biography p:first-child {
  -webkit-margin-before: 0;
}

.signature {
  float: right;
}

.about_contact {
  display: inline-block;
  width: 100px;
}

.resume_button {
  text-align: center;
  width: 200px;
  cursor: pointer;
}

.resume_down {
  float: right;
  font-size: 12px;
}

.resume_wrapper {
  padding: 0 40px;
  max-width: 940px;
  margin: auto;
}

.exhibitions {
  -webkit-margin-before: -.5em;
  padding-left: 10px;
}

// CONTACT

.contact {
  margin: 40px auto;
  max-width: 940px;
  padding: 40px;
}

.contact_text {
  width: 50%;
}

.contact_text a {
  color: #777;
}

.contact_text p a:hover,
.contact_text p a:focus {
  color: #AC126E;
}

.validate {
  float: left;
  position: relative;
  margin-top: 10px;
}

// .signup_prompt {
//   margin-top: 40px;
// }

div.mc-field-group, .clear {
  display: inline-block;
  top: 0;
  position: absolute;
}

.clear {
  left: 216px;
}

input#mce-EMAIL {
  line-height: 26px;
  width: 200px;
  font-family: 'Poiret One', cursive;
  font-size: 16px;
  margin: 0;
  padding-left: 5px;
}

div#mce-responses {
  float: left;
  position: static;
  padding-top: 40px;
}

.subscribe_button {
  font-family: 'Poiret One', cursive;
  font-size: 14px;
  color: #ffffff;
  background: #9f9f9f;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
  transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  margin: 0;
  cursor: pointer;
}

.subscribe_button:hover {
   background: #b7b7b7;
  text-decoration: none;
}

// MEDIA QUERIES

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-width : 320px) and (max-width: 766px) {

  body {
    margin-top: 0;
  }

  nav {
    width: 100%;
    min-width: 0;
  }

  nav ul {
    margin: 0px auto;
    width: 100%;
    padding: 16px 0 0 0;
    display: none;
  }

  nav ul li:first-child {
    margin-top: 38px;
    background: #ffffff;
  }

  nav ul li {
    display: block;
    border-right: 0;
    text-align: center;
    padding: 0;
    margin: 0;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
  }

  nav ul li a {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #EFEFEF;
  }

  nav ul li a:hover {
    color: #2F3132;
  }

  nav ul li:nth-child(even) {
    background-color: #efefef;
  }

   nav ul li:nth-child(even):hover {
    background-color: #e7e7e7;
   }

  nav ul li:nth-child(odd):hover {
    background-color: #efefef;
   }

  .title {
    position: fixed;
    top: 0;
    background-color: #efefef;
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px 0 10px;
    margin: 0;
    cursor: pointer;
  }

  .title.down {
    display: inline-block;
  }

  .collection.cf {
    width: 300px;
    min-width: 0;
    margin: 20px auto;
  }

  // Recent works

  .scrollable {
    min-width: 300px;
  }

  .work_image_wrapper {
    height: auto;
  }

  .info_bar {
    top: 0;
    bottom: auto;
  }

  .info_bar a {
    height: 230px;
  }

  .collection_arrows.right {
    right: 30px;
  }

  .up_arrow,
  .down_arrow {
    display: none;
  }

  .right_arrow,
  .left_arrow {
    width: 60px;
  }

  // Bio

  .bio_wrapper {
    text-align: center;
    max-width: 1250px;
    padding-bottom: 0;
  }

  .bio_image {
    margin-right: 0;
  }

  .biography {
    text-align: left;
    width: auto;
    padding: 20px;
  }

// Contact

  .contact_text {
    width: auto;
  }

  // Works Show

  .works_wrapper {
    min-width: 0;
  }

  .works_show {
    float: none;
    text-align: center;
    margin: 10px auto;
    width: 300px
  }

  .works_show img {
    width: 300px;
    margin: auto;
  }

  .works_description {
    text-align: left;
    margin: 0 0 0 50px;
    float: none;
  }

  .back_button, .purchase_button {
    position: static;
    float: left;
    margin: 30px;
  }

  .purchase_button {
    float: right;
  }

  .next_prev_buttons {
    font-size: 20px;
  }

}

// iphones
@media only screen and
(min-width : 480px) and (max-width: 766px) {

  .scrollable {
    min-width: 400px;
  }
  .past_work_image, .collection.cf {
    width: 400px;
  }

  .works_show,
  .works_show img {
    width: 400px
  }

  .works_description {
    margin-left: 40px;
  }

   .back_button {
    margin-top: 10px;
  }

  .subscribe_button.resume_button {
    display: none;
  }

}

// Tablets
@media only screen
and (min-width : 768px) and (max-width: 1023px) {

  .contact, .bio_wrapper, .works_wrapper, .recent-works, .past-works {
    margin-top: 0;
  }

  .collection.cf {
    width: 700px;
    min-width: 0;
  }

  .past_work_image {
    width: 233px;
  }

  .scrollable {
    min-width: 700px;
  }

}

@media only screen and (min-width: 768px) and (max-width: 940px) {

  .biography {
    width: 450px;
  }
}

  @media only screen and (min-width: 1024px) and (max-width: 1249px) {

  .collection.cf {
    min-width: 0;
    max-width: 980px;
  }

  .past_work_image {
    width: 245px;
  }

  .back_button {
    right: 0;
    margin: 30px;
  }

}


